
.customize-header{
    text-align: center;
    margin-bottom: 20px;
  }

.top-card1-price{
    color:#2DCD53;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    padding-top:0px;
}

.top-card1-counter{
    font-size:18px;
  }

.top-card1-text{
    font-weight: bold;
      margin: 4px auto;
      font-size: 16px;
      padding: 2px;
}


.frontcard{
    background-color: #69E187;
  
  }
  
  .insidecard{
      background-color:#80C2FC;
     
  }
  
  .soundcard{
      background-color:#D585F8;
  }
  
  .backcard{
    background-color: #FF7B7B;

  }


/* .frontcard-subTitle{

}

.frontcard-title{

}

.insidecard-title{

}

.soundcard-heading,.insidecard-heading,.frontcard-heading,.backcard-heading{

}

.soundcard-title,.subcard-subTitle,.backcard-title,.backcard-subTitle{

} */






  
.material-switch > input[type="checkbox"] {
    display: none;   
  }
  
  .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
  }
  
  .material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
  }
  .material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
  }
  .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
  }
  .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
  }