.customize-header{
  text-align: center;
  margin-bottom: 20px;
}

.counter{
  font-size:18px;
}

/* .react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
} */

.date-picker{
  border: 3px solid black;
  margin-top: 8px;
  height:34px;
  font-size:16px;
  font-weight: bold;
  color:black;
  border-radius:0px;
}

.price{
  color:#2DCD53;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
  padding-top:0px;
}

.front-card{
  background-color: #69E187;
  /* padding-top:60px;  */
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 408px;
  
    /* display:flex;
  justify-content:center; */
}

.frontcardFile{
  margin-top: 50px;
}


.back-card-image{
  height:60px;
  width:60px;
  margin-top: 40px;
}

.inside-card{
  background-color: 	#80C2FC;
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 408px;
}

.soundcard-input{
  margin: 15px;
}

.soundcard-record{
  padding: 7px 20px;
  font-weight:bold;
  color:black;
  border-radius: 0px;
  margin:15px 0px;
}


.sound-card{
    background-color:#D585F8;
    /* display:flex;
    justify-content:center; */
    display: block;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 408px;

}

.back-card{
  height: 408px;
  background-color: #FF7B7B;
  display: block;
  margin: auto;
  text-align: center;
  padding: 20px;

}

.upper-soundcard-images{
  margin: 5px;
}

.backcard-or{
  font-weight: bold;
  font-size:20px;
  text-align: center;
  margin-left: 5px;
  vertical-align: bottom;
  padding: 2px;
}

.sound-card .form-control{
  border: 3px solid black;
  margin-top: 20px;
  font-size:16px;
  font-weight: bold;
  color:black;
  border-radius:0px;
}

.back-card .form-control{
  border: 3px solid black;
  margin-top: 20px;
  font-size:16px;
  font-weight: bold;
  color:black;
  border-radius:0px;
}


.inside-card .form-control{
  border: 3px solid black;
  margin-top: 20px;
  font-size:16px;
  font-weight: bold;
  color:black;
  border-radius:0px;
}

.front-card .form-control{
  border: 3px solid black;
  margin-top: 20px;
  font-size:16px;
  font-weight: bold;
  color:black;
  border-radius:0px;
}


.lower-frontcard,.lower-middlecard,.lower-backcard{
  box-shadow: 0 2px 4px 0px grey;
  margin-left:20px;
  margin: auto;
  display: block;
  text-align: center;
  height:360px;
  overflow: hidden;
}

.lower-frontcard{
  width:238px;
  margin-left:60px;
}


.card1-text{
  font-weight: bold;
    margin: 4px auto;
    font-size: 16px;
    padding: 2px;
}

.lower-middlecard{
  margin-right: 64px;
  margin-left:64px;
  width:470px;
}

.lower-backcard{
  width:238px;
  color:#C12283;
  display:flex;
  justify-content:center;
}

.lower-backcard-text{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}


.lower-backcard-heading{
  font-size: 12px;
  margin-top: 40px;
}

.lower-middlecard-date{
    margin: 5px;
}

.lower-backcard-imagewrapper{
  width:100%;
  margin-top: 40px;
  display:block;
  height:auto;
  position:relative;
  overflow:hidden;
  padding:76.16% 0 0 0;
  
  }

  .record-icon{
    /* font-size:20px; */
    color:'pink';
    
  }

.lower-backcard-image{

  display:block;
  margin:auto;
  max-height:80%;
  max-width:80%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  
  }

.cards-row{
   display:flex;
  justify-content:center;
}



.title{
  font-weight: bold;
  text-align: center;
  font-size:20px;
  padding: 5px;
  color:black;

}



.lower-frontcard .title{
  margin-top:40px;
    font-size:40px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    color:black;
    overflow: hidden;
}

.imageInput{
    margin: 20px;
}

.titleInput{
  width: 90px;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  margin: 10px ;
}


.subTitleInput{
    width: 90px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    margin: 5px 10px 20px 10px;
}

.subTitle,.lower-middlecard-subTitle{

  padding: 2px;
  font-weight:bold;
  font-size:18px;
}

.lower-middlecard-subTitle{
margin-top: 40px;
}

.subTitleFrontCard{
  color:#C12283;
  padding: 2px;
  font-weight:bold;
  font-size:20px;
  display: block;
  overflow-wrap: break-word;
  max-height:60px;
  overflow: hidden;
}



/* .preview-middle-image{
/* width: 90%;
margin:0 auto;
vertical-align: middle; 
background: #3A6F9A;
vertical-align: middle;
max-height: 270px;
max-width: 70px; 
} */


.lower-middlecard-left{
max-height:320px; /*so that aspect ratio of middlecard images dont get affected due to style change function call */

}
  
.lower-middlecard-imagewrapper1{
  margin: 5px 5px;
  width:90%;  
  display:block;
  position:relative;
  overflow:hidden;
  padding:33.16% 0 0 0;
  height:165px;
  }

  .lower-middlecard-imagewrapper2{
    margin: 5px 5px;
    width:90%;
    display:block;
    height:165px;
    position:relative;
    overflow:hidden;
    padding:33.16% 0 0 0;
    
    }

  /* .middlecard-icon{
    margin-top: 40px;
  } */

  .start-record,.stop-record{
    margin: 5px;
    background-color: #FF7B7B;
    
  }
  .sound-wave{
      width: 150px;
      height: 30px;
  }


  .lower-frontcard-description{
    display: block;
    overflow-wrap:break-word;
    max-height:45px;
    overflow: hidden;

  }

  .lower-middlecard-description{
    display: block;
    overflow-wrap:break-word;
    height:135px;
    overflow: hidden;
  }

  audio{
    width:148px;
    color:'pink';
    
    
  }
  /* .sound-player{
    width:170px;
    background: #FF7B7B;
  } */
  .lower-middlecard-signature{
    display: block;
    overflow-wrap:break-word;
    max-height:50px;
    overflow: hidden;
  }

  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  


  
.lower-middlecard-image{
  
  display:block;
  margin:auto;
  max-height:100%;
  /* margin-bottom: 2px; */
  max-width:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  
  }
   
 .insidecard-date{
    width:130px;
    height:32px;

 }

.lower-frontcard-imagewrapper{
  width: 100%;
  display:block;
  height:147px;
  position:relative;
  overflow:hidden;
  margin:5px;
  padding: 56.25% 0 0 0;
}


.lower-frontcardimage{
  display: block;
  margin:auto;
  max-width: 95%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

/*

.lower-middlecard-images{
width:100%; 
height:100%;
background-color:pink;
}

.lower-middlecard-imagewrapper{
background-color:#6610f2;
width:50%;
height:auto;
display:block;
position:relative;
overflow:hidden;
padding:33.16% 0 0 0;
}

.lower-middlecard-image1{
  border:1px solid black;
  display:block;
  margin:auto;
  max-height:100%;
  max-width:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.lower-middlecard-image2{
  
border:1px solid black;
display:block;
margin:auto;
max-height:100%;
max-width:100%;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;

}  */
/* sound radio css 
-------------------------------------------------- */


.onoffswitch3
{
    position: relative; width: 200px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: rgb(93, 204, 121); color: rgb(88, 179, 84);
}

.onoffswitch3-inner .onoffswitch3-inactive {
    padding-right: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #27A1CA; left: 0;
}
.onoffswitch3-inactive .onoffswitch3-switch {
    background: #A1A1A1; right: 0;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:60px;
  height:30px;
  margin:8px;
  transform:translateY(50%);
  position:relative;
}

.slider {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:30px;
  box-shadow:0 0 0 2px rgb(122, 218, 77), 0 0 4px rgb(116, 218, 112);
  cursor:pointer;
  border:4px solid transparent;
  overflow:hidden;
   transition:.4s;
}
.slider:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background:limeGreen;
  border-radius:30px;
  transform:translateX(30px);
  transition:.4s;
}


input:checked + .slider:before {
  transform:translateX(-15px);
  background:limeGreen;
}
input:checked + .slider {
  box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

/* 
.lowermiddle-insidecard-images{
  /* equals max image height 
 width: 100%;
/* position: relative; 
height:320px;
padding: 56.25% 0 0 0;
overflow: hidden; 
/*
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.preview-middle-image1
{
  /* position: absolute; 
  display: block;
  max-width: 50%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; 
}

.preview-middle-image2
{
   /* position: absolute; 
   
  display: block;
  max-width: 50%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; 
}

.rowC{display:flex; flex-direction:row;} */