
.form-row{
    display:flex;
    justify-content:center;
}

.form-row label{
    width:120px;
    font-weight:bold;
    font-size:18px;
}

.form-row input{
   height:30px;
   border: 2px solid black;
   border-radius:0px;

}

.form-row .form-group{
    margin-bottom: 15px;

}

.required-star{
    font-size:20px;
}