
.payment-rightbar{
  text-align: center;
  padding: 20px;
}

.price{
  color:#2DCD53;
  font-size:40px;
}

.left-sidebar-form{
    margin: 10px;
    margin-bottom:20px; 
}

.left-sidebar-form input{
    margin-right: 10px;
    height:30px;
   border: 1px solid black;
   border-radius:0px;

}

.left-sidebar-form label{
    margin-right:20px;
    font-weight:bold;
    font-size:18px;
}

/*credit card*/
* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}


.checkoutform{

    background-color: lightgrey;
    padding: 20px;
}