
.orientation{
  color:red;
  font-weight: bold;
  font-size:30px;
}

.left-sidebar{
  text-align: center;
  font-weight: bold;
  padding-top:60px;
  margin-right: 0px;
  padding-left:0px;
}
.header{
  margin:30px;
}
.mid-sidebar{
  font-weight: bold;
  font-size:24px;
  margin-top:120px;
  text-align: center;
}

.right-sidebar{
text-align: center;
margin-left: 33px;
}


.selection-image1{
    margin-right: 0px;
    border :4px solid black;
    height: 300px;
    width: 190px;
}

.selection-image2{
    margin-left: 0px;
    padding-left: 0px;
    border :4px solid black;
    height: 200px;
    width:280px;
    margin-top: 50px;
}

.cards-row{
  display:flex;
  justify-content:center;
}
